version: "3.8"

services:
  aylas-core:
    build: .
    image: aylas-core:latest
    container_name: aylas-core
    restart: always
    ports:
      - "3010:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3000
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
